.mushrooms-header {
  font-size: 8vw;
  color: rgba(255, 103, 0, 1);
  width: 445px;
  height: 64px;
  font-family: "Mansalva";
  font-weight: 400;
  text-align: initial;
}

.center {
  margin: auto;
  width: 75%;
  padding: 10px;
}
